[submodule "packages/backend/apps/ms-tinkoff-investments-v2"]
	path = packages/backend/apps/ms-tinkoff-investments-v2
	url = https://github.com/Dennis-Nedry-From-Jurassic-Park/ms-tinkoff-investments-v2.git
